<p id="notice"><%= notice %></p>

<div class="container">
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <p>
        <h3><strong><%= @project.title %></strong></h3>
      </p>

      <p>
        <%= @project.description %>
      </p>
      
      <%= link_to "Edit", edit_project_path(@project), :class =>  "btn btn-dark btn-sm"  %>

      <%= link_to "Back", projects_path, :class => "btn btn-dark btn-sm"  %>

    </div>
  </div>
</div>